.miniCart {
	position: relative;
	-moz-transition: right 0.2s linear;
	-o-transition: right 0.2s linear;
	-webkit-transition: right 0.2s linear;
	transition: right 0.2s linear;
	width: 300px;
	float: right;
	height: 500px;
	margin-right: -320px;
	margin-left: -20px;
	background: rgb(220, 232, 243);
	padding-bottom: 20px;
	border-radius: 5px;
	box-shadow: inset 5px 5px 20px rgb(85, 85, 85);
}
div #menuToggle {
	transition: all 0.2s ease-in-out;
	font-size: 22px;
	color: rgb(220, 232, 243);
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
	background: rgba(0, 0, 0, 0.8);
	display: block;
	position: absolute;
	height: 200px;
	left: -50px;
	top: 75px;
	width: 50px;
	-o-border-radius: 30px 0px 0px 30px;
	-moz-border-radius: 30px 0px 0px 30px;
	-webkit-border-radius: 30px 0px 0px 30px;
	border-radius: 30px 0px 0px 30px;
}
div #menuToggle:hover {
	color: rgb(76, 156, 241);
}
.open {
	right: 0;
}
/*.open #menuToggle span {
	background: transparent;
	left: -45%;
	top: 45%;
}*/
#menuToggle .divOpen {
	-moz-transition: background 0.1s linear 0.2s;
	-o-transition: background 0.1s linear 0.2s;
	-webkit-transition: background 0.1s linear;
	-webkit-transition-delay: 0.2s;
	transition: background 0.1s linear 0.2s;
}
.mButton {
	background: transparent;
	margin: auto;
	position: absolute;
	left: -70%;
	top: 45%;
}
.shiftLocations {
	padding-right: 320px
}
.dest td:first-child {
	padding-left: 1.5em;
}
.dialogs {
	display: none
}
.dialogs > div {
	background: rgb(220, 232, 243);
}
