@charset "utf-8";
div.wrapper {
	position: relative;
}
div.description {
	position: absolute;
	bottom: 0px; 
	left: 0px;
	display: none; 
	
	background-color: black;
	font-family: 'tahoma';
	font-size: 15px;
	color: white;
}
div.padded {
	padding: 20px;
}
