p {
	padding-top: 20px;
}
a:link, a:visited {
	color: rgb(220, 232, 243);
}
a:hover, a:active {
	color: rgb(220, 232, 243);
	font-weight: bold;
}
.downloads li a {
	width: 100px;
}
.downloads li a i {
	text-align: right;
}