.showcase, #destination {
	min-height: 500px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	display: inline-block;
}
.showcase li, #destination li {
	min-height: 300px;
	 list-style-type: none;
	float: left;
}
.poi.small {
	margin: 10px;
	height: 250px;
	width: 250px;
}
.poi.small .cover {
	top: 0px;
}
.poi.small .cover .rating {
	position: absolute;
	bottom: 30px;
	top: auto;
	right: 10px;
}
.poi.small .cover .info {
	display: block;
}
.shadowbox {
	display: block;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
}

ul li *{
display: block;x
}
#locations {
 width: 90%;
  margin: 20px auto 0 auto;
}
/* The Magic Float Center Code */
.float_center {
  float: left;

  position: relative;
 
  text-align: left;
}
.float_center > .child {
  position: relative;
  left: 50%;
}
