* {
	padding: 0px;
	margin: 0px;
}
.poi {
	position: relative;
	overflow: hidden;
	width: 350px;
	height: 350px;
	margin: 20px;
}
.poi .cover:hover {
	-webkit-transition: all 0.2s cubic-bezier(.99, .99, 0, .61);
	-moz-transition: all 0.2s cubic-bezier(.99, .99, 0, .61);
	-ms-transition: all 0.2s cubic-bezier(.99, .99, 0, .61);
	top: 0px;
}
.poi .cover {
	top: 250px;
	overflow: hidden;
	-webkit-transition: all 0.2s cubic-bezier(.99, .99, 0, .61);
	-moz-transition: all 0.2s cubic-bezier(.99, .99, 0, .61);
	-ms-transition: all 0.2s cubic-bezier(.99, .99, 0, .61);
}
.poi .cover:hover .rating {
	position: absolute;
	bottom: 30px;
	top: auto;
	right: 10px;
	-webkit-transition: all 0.2s cubic-bezier(.99, .99, 0, .61);
	-moz-transition: all 0.2s cubic-bezier(.99, .99, 0, .61);
	-ms-transition: all 0.2s cubic-bezier(.99, .99, 0, .61);
}
.description .rating {
	display: block;
	position: absolute;
	bottom: 280px;
	right: 10px;
	margin: 0;
	text-align: right;
	-webkit-transition: all 0.2s cubic-bezier(.99, .99, 0, .61);
	-moz-transition: all 0.2s cubic-bezier(.99, .99, 0, .61);
	-ms-transition: all 0.2s cubic-bezier(.99, .99, 0, .61);
}
.poi .cover:hover .info {
	display: block;
}
.description .info {
	display: none;
	padding: 10px 0px;
}
.poi .cover .description {
	height: 100%;
	background: rgba(0,0,0,0.45);
}
.max {
	height: 100%;
	width: 100%;
}